snippet log
	console.log("${1:} --- ", $1)	
snippet sc
	import React from 'react'
	import PropTypes from 'prop-types'

	const $1 = () => {
		return (
			<div>
				${2:}
			</div>
		)
	}

	$1.propTypes = {}
	$1.defaultProps = {}

	export default ${1:}
snippet ind
	import ${1:} from './$1'

	export default $1
