Xft.dpi:       96
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.autohint:  false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! urxvt
URxvt.scrollBar: false
URxvt.font: xft:Meslo LG M:size=10:antialias=true,xft:TerminessTTF Nerd Font Mono:size=14
URxvt.perl-ext-common: default,font-size,url-select,selection-to-clipboard
URxvt.letterSpace: -1
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true

! Prevent ISO notification when attempting to copy/paste
URxvt.iso14755: False

*.foreground:   #D8DEE9
*.background:   #252A33
*.cursorColor:  #D8DEE9

*.color0: #3B4252
*.color1: #BF616A
*.color2: #A3BE8C
*.color3: #EBCB8B
*.color4: #81A1C1
*.color5: #B48EAD
*.color6: #88C0D0
*.color7: #E5E9F0
*.color8: #4C566A
*.color9: #BF616A
*.color10: #A3BE8C
*.color11: #EBCB8B
*.color12: #81A1C1
*.color13: #B48EAD
*.color14: #8FBCBB
*.color15: #ECEFF4
*.color16: #D08770

! Colors states:   'bg', 'fg', 'bgalt', 'hlbg', 'hlfg'
rofi.color-normal: #252A33, #D8DEE9, #252A33, #3B4252, #8FBCBB
rofi.color-active: #252A33, #D8DEE9, #252A33, #3B4252, #8FBCBB
!                  'background', 'border', 'separator'
rofi.color-window: #252A33, #8FBCBB, #252A33

! vim:syntax=xdefaults
