/* URxvt.termName: rxvt-unicode */
/* URxvt.scrollBar: false */
/* URxvt.font: xft:DejaVu Sans Mono:size=12,xft:Droid Sans Mono:size=10,xft:DejaVu Sans Mono:size=10,xft:Droid Sans Fallback:size=10,xft:FreeSans:size=10,xft:FreeSans:size=10 */
/* URxvt.internalBorder: 4 */
/* URxvt.perl-ext-common: font-size */

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6

! Colors states:   'bg', 'fg', 'bgalt', 'hlbg', 'hlfg'
rofi.color-normal: nord0, nord4, nord0, nord3, nord4
/* rofi.color-normal: nord6, nord0, nord6, nord4, nord3, nord11 */
!                  'background', 'border', 'separator'
rofi.color-window: nord0, nord0, nord0
/* rofi.color-window: nord6, nord4, nord6 */
