! urxvt
URxvt.scrollBar: false
URxvt.font: xft:DejaVu Sans Mono:size=10:antialias=true,\
            xft:Droid Sans Mono:size=10:antialias=true,\
            xft:Droid Sans Fallback:size=10:antialias=true,\
            xft:FreeSans:size=10:antialias=true
URxvt.perl-ext-common: default,font-size,url-select,selection-to-clipboard
URxvt.letterSpace: -1
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.internalBorder: 4

! Prevent ISO notification when attempting to copy/paste
URxvt.iso14755: False

! xterm
xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 10
xterm*renderFont: true
xterm.vt100.metaSendsEscape: true
xterm.VT100.translations: #override \
Meta <Key> minus: smaller-vt-font() \n\
Meta <Key> plus: larger-vt-font() \n\

#define nord0 #2E3440
#define nord1 #3B4252
#define nord2 #434C5E
#define nord3 #4C566A
#define nord4 #D8DEE9
#define nord5 #E5E9F0
#define nord6 #ECEFF4
#define nord7 #8FBCBB
#define nord8 #88C0D0
#define nord9 #81A1C1
#define nord10 #5E81AC
#define nord11 #BF616A
#define nord12 #D08770
#define nord13 #EBCB8B
#define nord14 #A3BE8C
#define nord15 #B48EAD

*.foreground:   nord4
*.background:   nord0
*.cursorColor:  nord4

*.color0: nord1
*.color1: nord11
*.color2: nord14
*.color3: nord13
*.color4: nord9
*.color5: nord15
*.color6: nord8
*.color7: nord5
*.color8: nord3
*.color9: nord11
*.color10: nord14
*.color11: nord13
*.color12: nord9
*.color13: nord15
*.color14: nord7
*.color15: nord6
*.color16: nord12

! Colors states:   'bg', 'fg', 'bgalt', 'hlbg', 'hlfg'
rofi.color-normal: nord0, nord4, nord0, nord1, nord7
rofi.color-active: nord0, nord4, nord0, nord1, nord7
!                  'background', 'border', 'separator'
rofi.color-window: nord0, nord7, nord0

! vim:syntax=xdefaults
